* {
  margin: 0;
}

.background-container {
  background-color: #25262c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.central-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.image-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: #1b1c22;
  padding: 50px;
  width: 100%;
}
